
.container{
    margin-bottom: 20px;
}


.form-title {
    font-size: 2.9rem;
    margin-top: 0;
    margin-bottom: 30px;
}

.label-text {
    font-size: 2rem;
    margin-right: 10px;
}

.author-text {
    margin-right: 7px;
}

.input-text {
    font-size: 1.5rem;
}