.links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-box {
  display: flex;
  gap: 10px;
}

.link {
  font-size: 2rem;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
}

.link:hover {
    background-color: rgb(228, 230, 231);
    border: 2px solid black;
    padding: 3px;
}

.link:active {
    background-color: white;
    border: 2px solid black;
    padding: 3px;
}

.link-icon {
  height: 45px;
}

.button {
  font-size: 2rem;
  border-radius: 7px;
  background-color: white;
  padding: 8px;
  cursor: pointer;
  box-shadow: 5px 10px;
}

.button:hover {
  background-color: rgb(228, 230, 231);
  box-shadow: 3px 5px;
}

.button:active {
  background-color: white;
  box-shadow: none;
  border: 1px solid black;
}
